<%- include('header', {pagetitle: 'Gamemodes'}) -%>
<h1 align="center">Game modes</h1>
<table>
    <tr>
        <th>Game mode</th>
        <th>Players looking for partners</th>
        <th>View</th>
    </tr>
    <% gamemodes.forEach(function(gamemode){ %>
        <tr>
            <td>
                <%= gamemode.gm %>
            </td>
            <td>
                <%= gamemode.active %>
            </td>
            <td><div class="btn-group">
                    <a href="/gamemodes/<%= gamemode._id %>/party" class="btn btn-info">View</a>
                    <% if(profile.Admin !== undefined &&  profile.Admin === 1){%>
                        <a href="/gamemodes/<%= gamemode._id %>/edit" class="btn btn-primary">Edit</a>
                        <a href="/gamemodes/<%= gamemode._id %>/del" class="btn btn-primary">Delete</a>
                    <% } %>
            </div>
            </td>
        </tr>
    <% }); %>
</table>
<div>
    <% if(profile.Admin !== undefined &&  profile.Admin === 1){%>
        <a href="/gamemodes/new" class="btn btn-primary">Add new game mode</a>
    <% } %>
</div>
<%- include('footer') -%>